 <style>
body {
  background-image: url('/img/contacto.png');
}
</style> 
<div class="container text-center">
<div class="jumbotron text-center font-italic">
  <h1>Bienvenidos a Biblioteca Virtual 1.0 Back-End</h1>
        <img src="/img/Portadaindex.png" width="100%">
</div>
  <div class="row">
    <div class="col-sm-6">
      <h3 class="bg-light text-dark">Libros</h3>
      <p class="bg-light text-dark">Agrega Libros..</p>
    </div>
    <div class="col-sm-6">
      <h3 class="bg-light text-dark">Herramienta</h3>
      <p class="bg-light text-dark">Edita o elimina un libro..</p>
   
</div> 