 <style>
body {
  background-image: url('/img/contacto.png');
}
</style> 
<div class="container p-5">
  <div class="row">

    <div class="col-md">
      {{> tasks/taskForm }}
       <div style="overflow-x:auto;">
      {{> tasks/taskTable }}
      </div>
    </div>
  </div>
</div>