 <style>
body {
  background-image: url('/img/contacto.png');
}
</style> 
<div class="jumbotron text-center font-italic">
  <h1>Acerca del Usuario</h1>
  <img src="/img/contactos.png" alt="">
</div>
<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-dark">Datos</h5>
      <p class="card-text text-dark">
        Nombre: Emmanuel      </p>
      <p class="card-text text-dark">Apellidos: Tobón Ramírez</p>
      <p class="card-text text-dark">Edad: 22 años</p>
    </div>
    <div class="card-footer">
      <small class="text-muted ">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-dark">Datos Academicos</h5>
      <p class="card-text text-dark">Carrera: Ingenieria en Sistemas Computacionales</p>
      <p class="card-text text-dark">Numero de Control: 18120076</p>
      <p class="card-text text-dark">Semestre: 8Vo Semestre</p>
    </div>
    <div class="card-footer">
      <small class="text-muted text-dark">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-dark text-center">Redes Sociales</h5>
      <p class="card-text text-dark">
        <div class="iconos-sociales text-center">
<a href="https://www.youtube.com/EmmanuelTR9" target="_blank"><img loading="lazy" alt="Sígueme en YouTube" height="35" width="35" src=" https://1.bp.blogspot.com/-0Ao8V_ZtT5Q/YPhkfO0JqkI/AAAAAAAAA1U/Sz5GlaSW78AsY3nZpcqeIoPA_HQUSCVLgCPcBGAYYCw/s0/Youtube-icono.png" title=" Sígueme en YouTube "/></a>

<a href="https://www.facebook.com/SwetvEmmanuel" target="_blank"><img loading="lazy" alt="Sígueme en Facebook" height="35" width="35" src=" https://1.bp.blogspot.com/-Pop-U7OywXs/YPhkfrImyiI/AAAAAAAAA1Y/UBnVfTK9j2U-bIUqwZYMNSQPvz_l06mbwCPcBGAYYCw/s0/facebook-icono.png" title="Sígueme en Facebook"/></a>

<a href="https://www.instagram.com/emmanueldearemy" target="_blank"><img loading="lazy" alt="Sígueme en Instagram" height="35" width="35" src="https://1.bp.blogspot.com/-VFfOISywV0c/YPhkeRXuRQI/AAAAAAAAA1M/L75S9Usg5AovunH2Y-VzqJbaaY1LuK3eACPcBGAYYCw/s0/Instagram-icono.png" title="Sígueme en Instagram"/></a>

<a href="https://www.whatsapp.com/+5212381979125" target="_blank"><img loading="lazy" alt="Sígueme en WhatsApp" height="35" width="35" src=" https://1.bp.blogspot.com/-Vc_W7xraNnc/YPhkfwQExQI/AAAAAAAAA1c/dI72v37UC0EGJd7jWvKWYD3WMwZ7eER7gCPcBGAYYCw/s0/whatsapp-icono.png" title="Sígueme en WhatsApp"/></a>

<a href="https://www.tiktok.com/Emmanueltr900" target="_blank"><img loading="lazy" alt="Sígueme en TikTok" height="35" width="35" src=" https://1.bp.blogspot.com/-rK19lcfnq9c/YPhkfuEwAnI/AAAAAAAAA1U/0ydy_rVmboQtu211UQs7_zMXdMih2LCCwCPcBGAYYCw/s0/tiktok-icono-oscuro.png" title="Sígueme en TikTok"/></a>

<a href="https://www.twitter.com/extreme_rules" target="_blank"><img loading="lazy" alt=" Sígueme en Twitter" height="35" width="35" src=" https://1.bp.blogspot.com/-2JwTJZxg1AU/YPhkfB0DdjI/AAAAAAAAA1c/tDKdU6tS0A0lt4YegGUVd7k-9hguYz82ACPcBGAYYCw/s0/Twitter-icono.png" title="Sígueme en Twitter"/></a>
</div>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted ">Last updated 3 mins ago</small>
    </div>
  </div>
</div>